<table id="details"></table>
<script>
    $(function () {
        app.detailsPropertyGrid = $('#details');

        app.detailsPropertyGrid.propertygrid({
            showGroup: false,
            height: 600,
            scrollbarSize: 0
        });
    });
</script>